<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="PingView_Monitoring::dashboard" title="View PingView status" sortOrder="90">
                    <resource id="PingView_Monitoring::manage" title="Connect and disconnect PingView" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
