<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pingview>
            <general>
                <api_base>https://pingview.app/api/v1</api_base>
                <cache_ttl>300</cache_ttl>
            </general>
        </pingview>
    </default>
</config>
